@import './font.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Taviraj", serif;
  font-weight: 300;
  font-style: normal;
}

.anime {
  background-image: url("../src/assets/Image/anime.png");
}

.peliculas {
  background-image: url("../src/assets/Image/pelicula.png");
}

.series {
  background-image: url("../src/assets/Image/serie.png");
}

.cantantes {
  background-image: url("../src/assets/Image/cantantes.png");
}

.actores {
  background-image: url("../src/assets/Image/actores.png");
}

.futbolistas {
  background-image: url("../src/assets/Image/futbolistas.png");
}

.anime, .peliculas, .series, .cantantes, .actores, .futbolistas {
  background-position: center;
  align-items: end;
  background-size: cover;
  display: flex;
  background-repeat: no-repeat;
  min-height: 290px; 
  justify-content: center;
  font-size: 1.9rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.estilo {
  background-color: rgb(194, 0, 0);
  justify-content: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 640px) {
  .anime, .peliculas, .series, .cantantes, .actores, .futbolistas {
    min-height: 200px;
  }
}



.tam2 {
  height: 81%;
}

.mask {
  mask-image: linear-gradient(black 91%, transparent );
}
.pricipal{
  background-image: url('../src/assets/Image/principal.jpg');
  background-repeat: no-repeat;
  background-size: cover;  
  height: 100vh;
}
